@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&amp;display=swap");
.dark {
  color: #000;
}
.accent {
  color: #043bff;
}
.muted {
  color: #595959;
}
@font-face {
  font-family: "Haas Grot Disp Web";
  src: url("../fonts/NeueHaasGrotDisp-55Roman-Web.woff2") format("woff2"),
    url("../fonts/NeueHaasGrotDisp-55Roman-Web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
    font-family: "SharpGrotesk-Medium25";
    src: url("../fonts/SharpGrotesk-Medium25.woff2") format("woff2");
      
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
  }

  @font-face {
    font-family: "SharpGroteskBook25";
    src: url("../fonts/SharpGroteskBook25.woff2") format("woff2");
      
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
  }


  @font-face {
    font-family: "SharpGroteskBook18";
    src: url("../fonts/SharpGroteskBook18.woff2") format("woff2");
      
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
  }
  
  @font-face {
    font-family: "Manrope-Regular";
    src: url("../fonts/Manrope-Regular.woff2") format("woff2");
      
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
  }
  
  @font-face {
    font-family: "LotaGrotesqueRegular";
    src: url("../fonts/LotaGrotesqueRegular.woff2") format("woff2");
      
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
  }

  @font-face {
    font-family: "dukewide";
    src: url("../fonts/dukewide.woff2") format("woff2");
      
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
  }

  @font-face {
    font-family: "BradleyHand";
    src: url("../fonts/BradleyHand.woff2") format("woff2");
      
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
  }





@media only screen and (max-width: 768px) {
  .mobile-hide {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-block {
    display: block !important;
  }
  .mobile-block:not(.no-margin) div {
    margin-bottom: 3em;
  }
  .mobile-block:not(.no-margin) div:last-of-type {
    margin-bottom: 0;
  }
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
button.plain {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  font-size: 1em;
  font-family: "Haas Grot Disp Web";
  cursor: pointer;
}
button.plain.large {
  font-size: 1.5em;
}
ul {
  padding: 0;
  list-style-type: none;
}
ul.inline li {
  display: inline-block;
  margin-right: 2em;
}
ul.inline li:last-of-type {
  margin-right: 0;
}
li {
  list-style-type: none;
}
.wrapper {
  width: 95%;
  max-width: 1600px;
  margin: auto;
}
.flex {
  display: flex;
}
.flex.vertical {
  flex-direction: column;
}
.flex.between {
  justify-content: space-between;
}
.flex.end {
  justify-content: flex-end;
}
.flex.top {
  align-items: flex-start;
}
.flex.center {
  align-items: center;
}
.flex.bottom {
  align-items: flex-end;
}
.full {
  width: 100%;
}
.grow {
  flex-grow: 1;
}
.grid {
  display: grid;
}
.grid.column-20 {
  grid-template-columns: 20vw 1fr;
}
.grid.column-25 {
  grid-template-columns: 25vw 1fr;
}
.grid.column-30 {
  grid-template-columns: 30vw 1fr;
}
.grid.column-40 {
  grid-template-columns: 40vw 1fr;
}
.grid.column-45 {
  grid-template-columns: 45vw 1fr;
}
.grid.column-50 {
  grid-template-columns: 1fr 1fr;
}
.grid.column-55 {
  grid-template-columns: 55vw 1fr;
}
.grid.column-60 {
  grid-template-columns: 60vw 1fr;
}
.grid.column-70 {
  grid-template-columns: 70vw 1fr;
}
.grid.column-auto {
  grid-template-columns: auto 1fr;
}
.grid.center {
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .grid.mobile-100 {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .grid.mobile-row {
    grid-template-rows: auto auto;
  }
}
.grid .align-right {
  align-self: flex-end;
  justify-content: flex-end;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .mobile-row-1 {
    grid-row: 1;
  }
  .mobile-row-2 {
    grid-row: 2;
    margin-top: 4em;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-no-border-top {
    border-top: none !important;
    border-top: 0 !important;
  }
  .mobile-no-border-bottom {
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }
}
.section {
  padding: 8em 0;
  border-top: 1px solid #c7c7c7;
}
.section.no-border {
  border-top: none;
}
@media only screen and (max-width: 768px) {
  .section.no-border-mobile {
    border-top: none;
  }
}
.section.slim {
    font-family:"LotaGrotesqueRegular" ;
  padding: 6em 0;
}
@media only screen and (max-width: 768px) {
  .section.slim {
    padding: 2em 0;
  }
}
.section.slimmer {
  padding: 2em 0;
}
.section.full-height {
  min-height: calc(100vh - 230px);
}
.section.full-height.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .section {
    padding: 2em 0;
  }
}
@media only screen and (max-width: 768px) {
  .section.mobile-collapse {
    height: fit-content;
    max-height: 0;
    padding: 0;
    border-top-color: transparent;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
  }
  .section.mobile-collapse.active {
    max-height: 2000px;
    padding: inherit;
    padding: 2em 0;
    border-top: 1px solid #c7c7c7;
  }
}
.max-40 {
  max-width: 40%;
}
@media only screen and (max-width: 768px) {
  .max-40 {
    max-width: unset;
  }
}
.border-top {
  border-top: 1px solid #c7c7c7;
}
.border-bottom {
  border-bottom: 1px solid #c7c7c7;
}
.border-left {
  border-left: 1px solid #c7c7c7;
}
.border-right {
  border-right: 1px solid #c7c7c7;
}
* {
  box-sizing: border-box;
}
html.has-scroll-smooth {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: #f7f7f7;
  color: #000;
  font-family: "Haas Grot Disp Web";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  overflow-x: hidden;
}
::selection {
  background: #d7ff36;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f0f1f2;
}
::-webkit-scrollbar-thumb {
  background: #43E8B0;
}
::-webkit-scrollbar-thumb:hover {
  background: #43E8B0;
}
.c-scrollbar_thumb {
  background: #43E8B0 !important;
  opacity: 1 !important;
}
.c-scrollbar_thumb:hover {
  background: #43E8B0 !important;
}
#cursor {
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #c7c7c7;
  transition: height 0.3s, width 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 2;
  pointer-events: none;
}
#cursor.active {
  height: 68px;
  width: 68px;
  border-color: #43E8B0;
}
a {
  color: #08081a;
  text-decoration: underline;
}
a.primary {
  text-decoration: underline;
  color: #08081a;
}
a.secondary {
  color: #000;
  text-decoration: none;
}
.projects,
.process,
.experience {
  width: 50%;
  justify-self: flex-end;
  position: relative;
}
.projects a,
.process a,
.experience a {
  display: block;
}
@media only screen and (max-width: 768px) {
  .projects,
  .process,
  .experience {
    width: unset;
  }
}
.projects {
  pointer-events: none;
  grid-row: 1;
  width: 100%;
}
.projects li.project {
  padding: 3em 0;
  border-bottom: 1px solid #c7c7c7;
  display: grid;
  grid-template-columns: 28px 50% 1fr 28px;
  align-items: center;
  position: relative;
}
.projects li.project:after {
  content: "";
  height: 1px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000;
  transition: width 0.6s cubic-bezier(0.87, 0, 0.13, 1);
  z-index: -2;
}
.projects li.project:hover:after {
  width: 100%;
}
.projects li.project .num {
  top: 0;
  align-self: flex-start;
}
@media only screen and (max-width: 768px) {
  .projects li.project {
    grid-template-columns: 28px 1fr 28px;
  }
}
.projects > * {
  transition: opacity 0.4s ease-in-out;
  pointer-events: auto;
}
.projects:hover > * {
  opacity: 0.3;
}
.projects > *:hover {
  opacity: 1;
}
.project-thumbnail {
  width: 85%;
  height: 500px;
  grid-row: 1;
  overflow: hidden;
  position: relative;
}
.project-thumbnail .slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: clip-path 0.6s cubic-bezier(0.87, 0, 0.13, 1);
}
.project-thumbnail .slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transform: scale(1.4);
  transition: transform 4s cubic-bezier(0.16, 1, 0.3, 1);
}
.project-thumbnail .slide.active img,
.project-thumbnail .slide.deactive img {
  transform: scale(1);
}
@media only screen and (max-width: 768px) {
  .project-thumbnail {
    display: none;
  }
}
.project-thumbnail.direction_right .slide {
  clip-path: inset(0 100% 0 0);
}
.project-thumbnail.direction_right .slide.deactive {
  clip-path: inset(0 0 0 100%);
}
.project-thumbnail.direction_right .slide.active {
  clip-path: inset(0 0 0 0);
  z-index: 98;
}
.project-thumbnail.direction_left .slide {
  clip-path: inset(0 0 0 100%);
}
.project-thumbnail.direction_left .slide.deactive {
  clip-path: inset(0 100% 0 0);
}
.project-thumbnail.direction_left .slide.active {
  clip-path: inset(0 0 0 0);
  z-index: 98;
}
.project-thumbnail.direction_down .slide {
  clip-path: inset(0 0 100% 0);
}
.project-thumbnail.direction_down .slide.deactive {
  clip-path: inset(100% 0 0 0);
}
.project-thumbnail.direction_down .slide.active {
  clip-path: inset(0 0 0 0);
  z-index: 98;
}
.project-thumbnail.direction_up .slide {
  clip-path: inset(100% 0 0 0);
}
.project-thumbnail.direction_up .slide.deactive {
  clip-path: inset(0 0 100% 0);
}
.project-thumbnail.direction_up .slide.active {
  clip-path: inset(0 0 0 0);
  z-index: 98;
}
.process .item {
  padding: 3em 0;
  display: grid;
  grid-template-columns: 50% 1fr;
  align-items: flex-start;
}
.process .item p:first-of-type {
  font-size: 1.1em;
}
.process .item p.body {
  line-height: 2em;
}
@media only screen and (max-width: 768px) {
  .process .item {
    padding: 1.5em 0;
    display: block;
  }
}
.contact-repeat {
  padding: 3em 0;
  width: 100vw;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}
.contact-repeat span.spacer {
  margin: 0 0.5em;
}
.contact-repeat p {
  font-size: 10vw;
}
@media only screen and (min-width: 768px) {
  .contact-repeat p {
    animation: scrolling 6s linear infinite;
  }
}
@media only screen and (max-width: 768px) {
  .contact-repeat p {
    font-size: 20vw;
    animation: scrolling_mobile 6s linear infinite;
  }
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-65.4%);
  }
}
@keyframes scrolling_mobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-130.9%);
  }
}
@media only screen and (max-width: 768px) {
  .contact-repeat {
    padding: 1.5em 0;
  }
}
.contributers li {
  margin-bottom: 2em;
}
.contributers li:last-of-type {
  margin-bottom: 0;
}
.project-content h2,
.project-content h3,
.project-content p {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .project-content h2,
  .project-content h3,
  .project-content p {
    width: 100%;
  }
}
.project-content p {
  font-size: 1.1em;
  line-height: 1.6em;
  margin-bottom: 2em;
}
.project-content h2:last-of-type {
  margin-bottom: 1em;
}
.project-content img {
  width: 100%;
  display: block;
  margin-top: 4em;
  margin-bottom: 4em;
}
.project-content img.half {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .project-content img.half {
    width: 100%;
  }
}
.project-content img.right {
  margin-left: auto;
}
.project-content img.center {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 768px) {
  .project-content img {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 768px) {
  .project-content h2 {
    margin-top: 2em;
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 768px) {
  .project-pagination-title {
    font-size: 2em !important;
  }
}
@media only screen and (max-width: 768px) {
  .arrow {
    height: 24px;
    width: 24px;
  }
}
button#project-brief-trigger {
  padding: 0;
  color: #000;
}
@media only screen and (min-width: 768px) {
  button#project-brief-trigger {
    pointer-events: none;
    cursor: text;
  }
}
@media only screen and (max-width: 768px) {
  button#project-brief-trigger {
    padding-right: 28px;
    position: relative;
  }
  button#project-brief-trigger:after {
    content: "";
    height: 2px;
    width: 18px;
    background: #000;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  button#project-brief-trigger:before {
    content: "";
    height: 18px;
    width: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
  }
  button#project-brief-trigger.active:before {
    display: none;
  }
}
.thumbnail.w-45 {
  width: 45vw;
}
@media screen and (max-width: 768px) {
  .thumbnail.w-45 {
    width: 100%;
  }
}
.thumbnail.w-55 {
  width: 55vw;
}
@media screen and (max-width: 768px) {
  .thumbnail.w-55 {
    width: 100%;
  }
}
.thumbnail.mw-540 {
  max-width: 540px;
}
.thumbnail.mw-756 {
  max-width: 756px;
}
.thumbnail img {
  width: 100%;
}
.thumbnail .image_container {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.thumbnail .image_container img {
  transition: transform 1s cubic-bezier(0.33, 1, 0.68, 1);
}
.thumbnail .image_container:hover img {
  transform: scale(1.05);
}
@media only screen and (max-width: 768px) {
  .thumbnail {
    padding-right: unset !important;
    margin-bottom: 1em !important;
    width: 100%;
    max-width: unset;
  }
}
.project-info {
  border-top: 1px solid #c7c7c7;
}
.project-info .project-title {
  font-size: 2.3em;
}
.project-info .project-description {
  font-size: 1.2em;
}
@media only screen and (max-width: 768px) {
  .project-info {
    border-top: none;
    border-bottom: 1px solid #c7c7c7;
    padding-bottom: 3em;
    margin-top: 1em;
  }
  .project-info .count {
    margin-bottom: 1em !important;
  }
}
a.align-right {
  display: inline-block;
  width: fit-content;
  justify-self: end;
}
.experience {
  font-size: 1.2em;
}
@media only screen and (max-width: 768px) {
  .experience svg.arrow {
    height: 18px !important;
    width: 18px !important;
  }
}
.footer p:first-of-type {
  max-width: 70%;
  line-height: 1.5em;
}
@media only screen and (max-width: 768px) {
  .contact.full-height {
    min-height: unset;
    text-align: center;
  }
  .contact ul.inline {
    margin-bottom: calc(100vh - 400px);
  }
  .contact ul.inline li {
    display: block;
    margin-right: 0;
    margin-bottom: 2em;
  }
  .contact.flex {
    display: block;
    text-align: center;
  }
}
.loading-screen {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  background: #000;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s cubic-bezier(0.83, 0, 0.17, 1);
}
.loading-screen .loader {
  height: 25px;
  width: 25px;
  background: #fff;
  position: relative;
  animation: blink 2s linear infinite;
  transition: transform 1s ease;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading-screen.animated {
  width: 0vw;
}
.loading-screen.animated .loader {
  transform: rotate(180deg);
}
.site-title h1 {
  font-size: 1em;
  font-weight: normal;
  width: fit-content;
  display: inline-block;
  margin: 0;
}
p.role span.dash {
  position: relative;
  width: 0;
  display: inline-block;
  transition: width 1.5s ease;
}
p.role span.dash.animated {
  width: 60px;
}
p.role span.dash:after {
  content: "";
  height: 1px;
  width: 100%;
  background: #000;
  position: absolute;
  top: -5px;
  left: 5px;
}
p.role.white span:after {
  background: #fff;
}
p.role.bottom {
  position: absolute;
  bottom: 1.6em;
}
.num {
  font-size: 0.8em;
  position: relative;
  top: -8px;
}
.mobile-menu {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  font-size: 1em;
  font-family: "Haas Grot Disp Web";
  cursor: pointer;
  color: #000;
}
ul.links li {
  display: inline-block;
  margin-left: 2em;
}
ul.links li a {
  color: #595959;
}
ul.links li a.active {
  color: #000;
}
@media screen and (max-width: 768px) {
  ul.links li a.active {
    color: #fff;
  }
}
ul.links li:first-of-type {
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  .nav_links {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    color: #ccc;
    top: 0;
    right: 0;
    z-index: 99;
    padding: 1.6em;
    transition: 0.6s cubic-bezier(0.87, 0, 0.13, 1);
    transform: translateX(100%);
  }
  .nav_links.active {
    transform: translateX(0);
  }
  .nav_links a.secondary {
    color: #ccc;
  }
  .nav_links button {
    color: #fff;
  }
  .nav_links .links {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nav_links .links li {
    font-size: 2em;
    padding: 1em 0;
    margin-left: 0;
  }
  .nav_links .links li .num {
    font-size: 0.4em;
    color: #e7e7e7;
    top: -14px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
}
h1.xx-large,
h2.xx-large,
h3.xx-large,
h4.xx-large,
h5.xx-large,
h6.xx-large,
p.xx-large {
  font-size: 11em;
  line-height: 1em;

  
}

h3.project_bg{
  font-size: 2.5em;
  padding-bottom: 2vw;
}

h4.project_bg_sm{
  font-size: 2em;
  padding-bottom: 2vw;
}

.project_bg_sm_1{
  font-size: 2.2em;
  padding-bottom: 2vw;
}



@media only screen and (max-width: 1465px) {
  h1.xx-large,
  h2.xx-large,
  h3.xx-large,
  h4.xx-large,
  h5.xx-large,
  h6.xx-large,
  p.xx-large {
    font-size: 8vw;
  }
}
@media only screen and (max-width: 768px) {
  h1.xx-large,
  h2.xx-large,
  h3.xx-large,
  h4.xx-large,
  h5.xx-large,
  h6.xx-large,
  p.xx-large {
    font-size: 3.73em;
    line-height: 1.1em;
  }
}
h1.x-large,
h2.x-large,
h3.x-large,
h4.x-large,
h5.x-large,
h6.x-large,
p.x-large {
  font-size: 3em;
  font-family: "dukewide"
}
@media only screen and (max-width: 768px) {
  h1.x-large,
  h2.x-large,
  h3.x-large,
  h4.x-large,
  h5.x-large,
  h6.x-large,
  p.x-large {
    font-size: 2.7em;
  }
}
h1.large,
h2.large,
h3.large,
h4.large,
h5.large,
h6.large,
p.large {
  font-size: 2em;
  line-height: 1.6em;
}
@media only screen and (max-width: 768px) {
  h1.large,
  h2.large,
  h3.large,
  h4.large,
  h5.large,
  h6.large,
  p.large {
    font-size: 1.5em;
  }
}
h1.medium,
h2.medium,
h3.medium,
h4.medium,
h5.medium,
h6.medium,
p.medium {
  font-size: 1.2em;
  line-height: 1.6em;
}
@media only screen and (max-width: 768px) {
  h1.medium,
  h2.medium,
  h3.medium,
  h4.medium,
  h5.medium,
  h6.medium,
  p.medium {
    font-size: 1.1em;
  }
}
h1.small,
h2.small,
h3.small,
h4.small,
h5.small,
h6.small,
p.small {
  font-size: 0.8em;
}
h1.mono,
h2.mono,
h3.mono,
h4.mono,
h5.mono,
h6.mono,
p.mono {
  font-family: "Roboto Mono", monospace;
}
h1.fit-content,
h2.fit-content,
h3.fit-content,
h4.fit-content,
h5.fit-content,
h6.fit-content,
p.fit-content {
  display: block;
  width: fit-content;
}
h1 span.heading_small,
h2 span.heading_small,
h3 span.heading_small,
h4 span.heading_small,
h5 span.heading_small,
h6 span.heading_small,
p span.heading_small {
  font-size: 0.8em;
  margin-right: 5em;
  position: relative;
  top: 20px;
}
@media only screen and (max-width: 768px) {
  h1 span.heading_small,
  h2 span.heading_small,
  h3 span.heading_small,
  h4 span.heading_small,
  h5 span.heading_small,
  h6 span.heading_small,
  p span.heading_small {
    font-size: 0.6em;
    margin-right: 4em;
    top: 15px;
  }
}
.m-0 {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}
.mr-0 {
  margin-right: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
.m-1 {
  margin: 0.4em;
}
@media only screen and (max-width: 768px) {
  .m-1 {
    margin: 0.2em;
  }
}
.mt-1 {
  margin-top: 0.4em;
}
@media only screen and (max-width: 768px) {
  .mt-1 {
    margin-top: 0.2em;
  }
}
.mr-1 {
  margin-right: 0.4em;
}
@media only screen and (max-width: 768px) {
  .mr-1 {
    margin-right: 0.2em;
  }
}
.mb-1 {
  padding-top: 0.6em;
  margin-bottom: 0.4em;
  font-family: "dukewide";
  
}
@media only screen and (max-width: 768px) {
  .mb-1 {
    margin-bottom: 0.2em;
  }
}
.ml-1 {
  margin-left: 0.4em;
}
@media only screen and (max-width: 768px) {
  .ml-1 {
    margin-left: 0.2em;
  }
}
.p-1 {
  padding: 0.4em;
}
@media only screen and (max-width: 768px) {
  .p-1 {
    padding: 0.2em;
  }
}
.pt-1 {
  padding-top: 0.4em;
}
@media only screen and (max-width: 768px) {
  .pt-1 {
    padding-top: 0.2em;
  }
}
.pr-1 {
  padding-right: 0.4em;
}
@media only screen and (max-width: 768px) {
  .pr-1 {
    padding-right: 0.2em;
  }
}
.pb-1 {
  padding-bottom: 0.4em;
}
@media only screen and (max-width: 768px) {
  .pb-1 {
    padding-bottom: 0.2em;
  }
}
.pl-1 {
  padding-left: 0.4em;
}
@media only screen and (max-width: 768px) {
  .pl-1 {
    padding-left: 0.2em;
  }
}
.m-2 {
  margin: 0.8em;
}
@media only screen and (max-width: 768px) {
  .m-2 {
    margin: 0.4em;
  }
}
.mt-2 {
  margin-top: 0.8em;
}
@media only screen and (max-width: 768px) {
  .mt-2 {
    margin-top: 0.4em;
  }
}
.mr-2 {
  margin-right: 0.8em;
}
@media only screen and (max-width: 768px) {
  .mr-2 {
    margin-right: 0.4em;
  }
}
.mb-2 {
  margin-bottom: 0.8em;
}
@media only screen and (max-width: 768px) {
  .mb-2 {
    margin-bottom: 0.4em;
  }
}
.ml-2 {
  margin-left: 0.8em;
}
@media only screen and (max-width: 768px) {
  .ml-2 {
    margin-left: 0.4em;
  }
}
.p-2 {
  padding: 0.8em;
}
@media only screen and (max-width: 768px) {
  .p-2 {
    padding: 0.4em;
  }
}
.pt-2 {
  padding-top: 0.8em;
}
@media only screen and (max-width: 768px) {
  .pt-2 {
    padding-top: 0.4em;
  }
}
.pr-2 {
  padding-right: 0.8em;
}
@media only screen and (max-width: 768px) {
  .pr-2 {
    padding-right: 0.4em;
  }
}
.pb-2 {
  padding-bottom: 0.8em;
}
@media only screen and (max-width: 768px) {
  .pb-2 {
    padding-bottom: 0.4em;
  }
}
.pl-2 {
  padding-left: 0.8em;
}
@media only screen and (max-width: 768px) {
  .pl-2 {
    padding-left: 0.4em;
  }
}
.m-3 {
  margin: 1.2em;
}
@media only screen and (max-width: 768px) {
  .m-3 {
    margin: 0.6em;
  }
}
.mt-3 {
  margin-top: 1.2em;
}
@media only screen and (max-width: 768px) {
  .mt-3 {
    margin-top: 0.6em;
  }
}
.mr-3 {
  margin-right: 1.2em;
}
@media only screen and (max-width: 768px) {
  .mr-3 {
    margin-right: 0.6em;
  }
}
.mb-3 {
  margin-bottom: 1.2em;
}
@media only screen and (max-width: 768px) {
  .mb-3 {
    margin-bottom: 0.6em;
  }
}
.ml-3 {
  margin-left: 1.2em;
}
@media only screen and (max-width: 768px) {
  .ml-3 {
    margin-left: 0.6em;
  }
}
.p-3 {
  padding: 1.2em;
}
@media only screen and (max-width: 768px) {
  .p-3 {
    padding: 0.6em;
  }
}
.pt-3 {
  padding-top: 1.2em;
}
@media only screen and (max-width: 768px) {
  .pt-3 {
    padding-top: 0.6em;
  }
}
.pr-3 {
  padding-right: 1.2em;
}
@media only screen and (max-width: 768px) {
  .pr-3 {
    padding-right: 0.6em;
  }
}
.pb-3 {
  padding-bottom: 1.2em;
}
@media only screen and (max-width: 768px) {
  .pb-3 {
    padding-bottom: 0.6em;
  }
}
.pl-3 {
  padding-left: 1.2em;
}
@media only screen and (max-width: 768px) {
  .pl-3 {
    padding-left: 0.6em;
  }
}
.m-4 {
  margin: 1.6em;
}
@media only screen and (max-width: 768px) {
  .m-4 {
    margin: 0.8em;
  }
}
.mt-4 {
  margin-top: 1.6em;
}
@media only screen and (max-width: 768px) {
  .mt-4 {
    margin-top: 0.8em;
  }
}
.mr-4 {
  margin-right: 1.6em;
}
@media only screen and (max-width: 768px) {
  .mr-4 {
    margin-right: 0.8em;
  }
}
.mb-4 {
  margin-bottom: 1.6em;
}
@media only screen and (max-width: 768px) {
  .mb-4 {
    margin-bottom: 0.8em;
  }
}
.ml-4 {
  margin-left: 1.6em;
}
@media only screen and (max-width: 768px) {
  .ml-4 {
    margin-left: 0.8em;
  }
}
.p-4 {
  padding: 1.6em;
}
@media only screen and (max-width: 768px) {
  .p-4 {
    padding: 0.8em;
  }
}
.pt-4 {
  padding-top: 1.6em;
}
@media only screen and (max-width: 768px) {
  .pt-4 {
    padding-top: 0.8em;
  }
}
.pr-4 {
  padding-right: 1.6em;
}
@media only screen and (max-width: 768px) {
  .pr-4 {
    padding-right: 0.8em;
  }
}
.pb-4 {
  padding-bottom: 1.6em;
}
@media only screen and (max-width: 768px) {
  .pb-4 {
    padding-bottom: 0.8em;
  }
}
.pl-4 {
  padding-left: 1.6em;
}
@media only screen and (max-width: 768px) {
  .pl-4 {
    padding-left: 0.8em;
  }
}
.m-5 {
  margin: 2em;
}
@media only screen and (max-width: 768px) {
  .m-5 {
    margin: 1em;
  }
}
.mt-5 {

    margin-top: 4em;
    

}
@media only screen and (max-width: 768px) {
  .mt-5 {
    margin-top: 1em;
  }
}
.mr-5 {
  margin-right: 2em;
}
@media only screen and (max-width: 768px) {
  .mr-5 {
    margin-right: 1em;
  }
}
.mb-5 {
  margin-bottom: 2em;
}
@media only screen and (max-width: 768px) {
  .mb-5 {
    margin-bottom: 1em;
  }
}
.ml-5 {
  margin-left: 2em;
}
@media only screen and (max-width: 768px) {
  .ml-5 {
    margin-left: 1em;
  }
}
.p-5 {
  padding: 2em;
}
@media only screen and (max-width: 768px) {
  .p-5 {
    padding: 1em;
  }
}
.pt-5 {
  padding-top: 2em;
}
@media only screen and (max-width: 768px) {
  .pt-5 {
    padding-top: 1em;
  }
}
.pr-5 {
  padding-right: 2em;
}
@media only screen and (max-width: 768px) {
  .pr-5 {
    padding-right: 1em;
  }
}
.pb-5 {
  padding-bottom: 2em;
}
@media only screen and (max-width: 768px) {
  .pb-5 {
    padding-bottom: 1em;
  }
}
.pl-5 {
  padding-left: 2em;
}
@media only screen and (max-width: 768px) {
  .pl-5 {
    padding-left: 1em;
  }
}
.m-6 {
  margin: 2.4em;
}
@media only screen and (max-width: 768px) {
  .m-6 {
    margin: 1.2em;
  }
}
.mt-6 {
  margin-top: 2.4em;
}
@media only screen and (max-width: 768px) {
  .mt-6 {
    margin-top: 1.2em;
  }
}
.mr-6 {
  margin-right: 2.4em;
}
@media only screen and (max-width: 768px) {
  .mr-6 {
    margin-right: 1.2em;
  }
}
.mb-6 {
  margin-bottom: 2.4em;
}
@media only screen and (max-width: 768px) {
  .mb-6 {
    margin-bottom: 1.2em;
  }
}
.ml-6 {
  margin-left: 2.4em;
}
@media only screen and (max-width: 768px) {
  .ml-6 {
    margin-left: 1.2em;
  }
}
.p-6 {
  padding: 2.4em;
}
@media only screen and (max-width: 768px) {
  .p-6 {
    padding: 1.2em;
  }
}
.pt-6 {
  padding-top: 2.4em;
}
@media only screen and (max-width: 768px) {
  .pt-6 {
    padding-top: 1.2em;
  }
}
.pr-6 {
  padding-right: 2.4em;
}
@media only screen and (max-width: 768px) {
  .pr-6 {
    padding-right: 1.2em;
  }
}
.pb-6 {
  padding-bottom: 2.4em;
}
@media only screen and (max-width: 768px) {
  .pb-6 {
    padding-bottom: 1.2em;
  }
}
.pl-6 {
  padding-left: 2.4em;
}
@media only screen and (max-width: 768px) {
  .pl-6 {
    padding-left: 1.2em;
  }
}
.m-7 {
  margin: 2.8em;
}
@media only screen and (max-width: 768px) {
  .m-7 {
    margin: 1.4em;
  }
}
.mt-7 {
  margin-top: 2.8em;
}
@media only screen and (max-width: 768px) {
  .mt-7 {
    margin-top: 1.4em;
  }
}
.mr-7 {
  margin-right: 2.8em;
}
@media only screen and (max-width: 768px) {
  .mr-7 {
    margin-right: 1.4em;
  }
}
.mb-7 {
  margin-bottom: 2.8em;
}
@media only screen and (max-width: 768px) {
  .mb-7 {
    margin-bottom: 1.4em;
  }
}
.ml-7 {
  margin-left: 2.8em;
}
@media only screen and (max-width: 768px) {
  .ml-7 {
    margin-left: 1.4em;
  }
}
.p-7 {
  padding: 2.8em;
}
@media only screen and (max-width: 768px) {
  .p-7 {
    padding: 1.4em;
  }
}
.pt-7 {
  padding-top: 2.8em;
}
@media only screen and (max-width: 768px) {
  .pt-7 {
    padding-top: 1.4em;
  }
}
.pr-7 {
  padding-right: 2.8em;
}
@media only screen and (max-width: 768px) {
  .pr-7 {
    padding-right: 1.4em;
  }
}
.pb-7 {
  padding-bottom: 2.8em;
}
@media only screen and (max-width: 768px) {
  .pb-7 {
    padding-bottom: 1.4em;
  }
}
.pl-7 {
  padding-left: 2.8em;
}
@media only screen and (max-width: 768px) {
  .pl-7 {
    padding-left: 1.4em;
  }
}
.m-8 {
  margin: 3.2em;
}
@media only screen and (max-width: 768px) {
  .m-8 {
    margin: 1.6em;
  }
}
.mt-8 {
  margin-top: 3.2em;
}
@media only screen and (max-width: 768px) {
  .mt-8 {
    margin-top: 1.6em;
  }
}
.mr-8 {
  margin-right: 3.2em;
}
@media only screen and (max-width: 768px) {
  .mr-8 {
    margin-right: 1.6em;
  }
}
.mb-8 {
  margin-bottom: 3.2em;
}
@media only screen and (max-width: 768px) {
  .mb-8 {
    margin-bottom: 1.6em;
  }
}
.ml-8 {
  margin-left: 3.2em;
}
@media only screen and (max-width: 768px) {
  .ml-8 {
    margin-left: 1.6em;
  }
}
.p-8 {
  padding: 3.2em;
}
@media only screen and (max-width: 768px) {
  .p-8 {
    padding: 1.6em;
  }
}
.pt-8 {
  padding-top: 3.2em;
}
@media only screen and (max-width: 768px) {
  .pt-8 {
    padding-top: 1.6em;
  }
}
.pr-8 {
  padding-right: 3.2em;
}
@media only screen and (max-width: 768px) {
  .pr-8 {
    padding-right: 1.6em;
  }
}
.pb-8 {
  padding-bottom: 3.2em;
}
@media only screen and (max-width: 768px) {
  .pb-8 {
    padding-bottom: 1.6em;
  }
}
.pl-8 {
  padding-left: 3.2em;
}
@media only screen and (max-width: 768px) {
  .pl-8 {
    padding-left: 1.6em;
  }
}
.m-9 {
  margin: 3.6em;
}
@media only screen and (max-width: 768px) {
  .m-9 {
    margin: 1.8em;
  }
}
.mt-9 {
  margin-top: 3.6em;
}
@media only screen and (max-width: 768px) {
  .mt-9 {
    margin-top: 1.8em;
  }
}
.mr-9 {
  margin-right: 3.6em;
}
@media only screen and (max-width: 768px) {
  .mr-9 {
    margin-right: 1.8em;
  }
}
.mb-9 {
  margin-bottom: 3.6em;
}
@media only screen and (max-width: 768px) {
  .mb-9 {
    margin-bottom: 1.8em;
  }
}
.ml-9 {
  margin-left: 3.6em;
}
@media only screen and (max-width: 768px) {
  .ml-9 {
    margin-left: 1.8em;
  }
}
.p-9 {
  padding: 3.6em;
}
@media only screen and (max-width: 768px) {
  .p-9 {
    padding: 1.8em;
  }
}
.pt-9 {
  padding-top: 3.6em;
}
@media only screen and (max-width: 768px) {
  .pt-9 {
    padding-top: 1.8em;
  }
}
.pr-9 {
  padding-right: 3.6em;
}
@media only screen and (max-width: 768px) {
  .pr-9 {
    padding-right: 1.8em;
  }
}
.pb-9 {
  padding-bottom: 3.6em;
}
@media only screen and (max-width: 768px) {
  .pb-9 {
    padding-bottom: 1.8em;
  }
}
.pl-9 {
  padding-left: 3.6em;
}
@media only screen and (max-width: 768px) {
  .pl-9 {
    padding-left: 1.8em;
  }
}
.m-10 {
  margin: 4em;
}
@media only screen and (max-width: 768px) {
  .m-10 {
    margin: 2em;
  }
}
.mt-10 {
  margin-top: 4em;
}
@media only screen and (max-width: 768px) {
  .mt-10 {
    margin-top: 2em;
  }
}
.mr-10 {
  margin-right: 4em;
}
@media only screen and (max-width: 768px) {
  .mr-10 {
    margin-right: 2em;
  }
}
.mb-10 {
  margin-bottom: 4em;
}
@media only screen and (max-width: 768px) {
  .mb-10 {
    margin-bottom: 2em;
  }
}
.ml-10 {
  margin-left: 4em;
}
@media only screen and (max-width: 768px) {
  .ml-10 {
    margin-left: 2em;
  }
}
.p-10 {
  padding: 4em;
}
@media only screen and (max-width: 768px) {
  .p-10 {
    padding: 2em;
  }
}
.pt-10 {
  padding-top: 4em;
}
@media only screen and (max-width: 768px) {
  .pt-10 {
    padding-top: 2em;
  }
}
.pr-10 {
  padding-right: 4em;
}
@media only screen and (max-width: 768px) {
  .pr-10 {
    padding-right: 2em;
  }
}
.pb-10 {
  padding-bottom: 4em;
}
@media only screen and (max-width: 768px) {
  .pb-10 {
    padding-bottom: 2em;
  }
}
.pl-10 {
  padding-left: 4em;
}
@media only screen and (max-width: 768px) {
  .pl-10 {
    padding-left: 2em;
  }

  .hHRKOk {
    position: absolute;
    margin-top: -10rem;
    left: 1rem;
    font-family: "BradleyHand";
    font-size: 2rem;
    color: #43E8B0;
    transform: rotate(-10deg);
    line-height: 1;
}



}
.image__container {
  overflow: hidden;
}
.img-animate {
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}
.img-animate__scale {
  transform: scale(1.5);
}
.img-animate__scale.animated {
  transform: scale(1);
}
.img-animate__reveal_left {
  clip-path: inset(0 100% 0 0);
}
.img-animate__reveal_left.animated {
  clip-path: inset(0 0 0 0);
}
.img-animate__reveal_right {
  clip-path: inset(0 0 0 100%);
}
.img-animate__reveal_right.animated {
  clip-path: inset(0 0 0 0);
}
.img-animate__reveal_top {
  clip-path: inset(0 0 100% 0);
}
.img-animate__reveal_top.animated {
  clip-path: inset(0 0 0 0);
}
.img-animate__reveal_bottom {
  clip-path: inset(100% 0 0 0);
}
.img-animate__reveal_bottom.animated {
  clip-path: inset(0 0 0 0);
}
@keyframes scale {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
span.letter {
  display: inline-block;
  opacity: 0;
}
span.text-animate,
span.letter-animate {
  width: fit-content;
  display: inline-block;
}
.text-animate,
.letter-animate {
  overflow: hidden;
}
.text-animate {
  word-break: break-word;
  hyphens: auto;
}
.animate__fadeIn {
  opacity: 0;
  transition: 1s ease-in-out;
}
.animate__fadeIn.animated {
  opacity: 1;
}
.animate__slide_down {
  transition: 0.8s ease-in-out;
  position: relative;
  top: -30px;
  opacity: 0;
}
.animate__slide_down.animated {
  top: 0;
  opacity: 1;
}


.highlighted-word {
  position: relative;
  white-space: nowrap;
}

.highlighted-word--around .highlighted-word__svg {
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}
.highlighted-word__svg {
  position: absolute;
  pointer-events: none;
  height: auto;
  right: 30px;
}



.hHRKOk {
  position: absolute;
  margin-top: 0rem;
  left: 1rem;
  font-family: "BradleyHand";
  font-size: 2rem;
  color: #43E8B0;
  transform: rotate(-10deg);
  line-height: 1;
}

.x-large-duke{
  font-family: "dukewide";
  font-size: 2em ~!important;
}

.heading_small {
  font-family: "BradleyHand";
  color: #43E8B0
  
  
}

.contact_f {
  font-family: "dukewide";
}

.dark_s{

  
}


.button-close {
  display: block;
  margin: 0px 0px 40px;
  padding-right: 40px;
  padding-left: 40px;

  background-color: #000;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  -o-object-fit: fill;
  object-fit: fill;
}

.w-button {
  
  padding: 20px 15px;
  background-color: #000;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

p.explain_sec {

   

}

a.nas_con{
  font-size: 50px;
  text-decoration: none;
  font-family: "dukewide";
}




